.button {
    background-color: #FF4B4D;
    color: #FFFF;
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 50px;
    font-family: 'DM Sans', sans-serif; 

    display: block;
    line-height: 50px;
    border: 4px solid #FFFF;
    transition: 0.3s;
}
.button:hover {
    background-color: #FFD2E0;
    color: #FF4B4D;
}